/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5372F0;
}

.container {
    width: 450px;
    border-radius: 7px;
    background: #fff;
    align-items: center;
}

.container h2 {
    font-size: 26px;
    font-weight: 500;
    padding: 18px 25px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.container .content {
    margin: 25px 20px 35px;
}

.content span {
    font-size: 48px;
    font-weight: 500;
    padding: 18px 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    letter-spacing: 24px;
}

.content button {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    background: #4285F4;
    font-size: 1.6rem;
    padding: 0.94rem 0;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 0.94rem 0 1.3rem;
}